apiVersion: v1
kind: Service
metadata:
  name: patient-service
  namespace: ns1
  labels:
    app: patient-service
spec:
  type: ClusterIP           
  selector:
    app: patient-service          
  ports:
    - protocol: TCP
      port: 80              
      targetPort: 8080      
